body {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Gradient rouge/orange */
  font-family: "Arial", sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 0;
  padding-top: 100px; /* Espace en haut pour descendre le contenu */
}

.weather-container {
  margin-bottom: 20px;
}

.weather-container h2 {
  font-size: 2rem;
  margin: 0;
}

.weather-container p {
  font-size: 1.2rem;
}

.countdown-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Centrer horizontalement */
}

.countdown-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.countdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.countdown-item {
  font-size: 2.5rem;
  margin: 10px;
}

.countdown-item span {
  display: block;
  font-size: 3rem;
  margin-top: 10px;
  color: #000000;
}

/* Style pour le lien cliquable de la ville */
.weather-container a#city-link {
  color: #000000; /* Bleu clair */
  text-decoration: underline; /* Optionnel : souligner le lien */
}

.weather-container a#city-link:hover {
  color: #ffffff; /* Changer la couleur au survol si souhaité */
}

/* Media queries pour la réactivité */
@media (max-width: 768px) {
  .countdown-title {
    font-size: 1.5rem;
  }

  .countdown-item {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .countdown-title {
    font-size: 1.2rem;
  }

  .countdown-item {
    font-size: 1.5rem;
  }

  .countdown-item span {
    font-size: 1rem;
  }
}
